@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope&display=swap");

#header {
  background: url("../assets/img/background.jpg") no-repeat center center/cover;
  padding: 2em 3em;
}

.header__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em;
}

.header__title {
  color: #ffd15b;
  font-family: "Anton", sans-serif;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1em;
}

.header__search {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search--input {
  width: 40em;
  height: 3em;
  border-radius: 11px;
  padding: 20px;
}

.search--logo {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 0.5rem;
  background-color: #1b1b1b;
  padding: 7px;
  border-radius: 6px;
  cursor: pointer;
}

.search--logo:hover {
  background-color: #ffd15b;
  background-image: url("../assets/img/search_black.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

@media screen and (max-width: 768px) {
  #header {
    padding: 2em 1em;
  }

  .header__group {
    padding: 2em;
  }

  .header__title {
    font-size: 20px;
  }

  .search--input {
    width: 20em;
  }
}
